@model MvcCoreElastiCacheAWS.Models.Coche

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>
<a asp-controller="Coches" asp-action="Index">Back to List</a>
<div class="mt-3">
    <div class="card" style="width: 18rem;">
        <img src="@Model.Imagen" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">@Model.Marca @Model.Modelo</h5>
            <p class="card-text">ID: @Model.IdCoche</p>
        </div>
    </div>
</div>
