@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 text-danger">
        AWS Beanstalk .NET Core 8 MySql
    </h1>
    <img src="~/images/gato2.jpg" width="200" height="200" />
    <p class="text-success">Second version oleeee pero ahora con el publish ese</p>
</div>
